{
  "presets": ["next/babel"],
  "plugins": [
    "import-graphql",
    "graphql-tag",
    ["babel-plugin-styled-components", {
      "pure": true
    }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "containers": "./packages/containers",
        "data": "./packages/data",
        "components": "./packages/components",
        "lib": "./packages/lib",
        "mui-datatables": "./packages/mui-datatables",
        "modules": "./packages/modules",
        "pages": "./packages/pages",
        "fragments": "./packages/fragments"
      }
    }]
  ]
}
