{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    "@babel/plugin-proposal-do-expressions",
    "import-graphql",
    "graphql-tag",
    ["styled-components", { 
      "ssr": true,
      "displayName": true,
      "preprocess": false
    } ],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "containers": "./packages/containers",
        "data": "./packages/data",
        "components": "./packages/components",
        "lib": "./packages/lib",
        "mui-datatables": "./vendor/mui-datatables",
        "mui-breadcrumbs": "./vendor/mui-breadcrumbs",
        "mui-redux-alerts": "./vendor/mui-redux-alerts",
        "pages": "./packages/pages",
        "fragments": "./packages/fragments"
      }
    }]
  ]
}
