{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    "@babel/plugin-proposal-do-expressions",
    "import-graphql",
    "graphql-tag",
    ["styled-components", { 
      "ssr": true,
      "displayName": true,
      "preprocess": false
    } ],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@wasm": "./wasm/dist",
        "asserts": "./asserts",
        "modules": "./modules",
        "containers": "./modules/core/containers",
        "components": "./modules/core/components",
        "data": "./modules/core/data",
        "lib": "./modules/core/lib",
        "mui-datatables": "./vendor/mui-datatables",
        "mui-breadcrumbs": "./vendor/mui-breadcrumbs",
        "mui-redux-alerts": "./vendor/mui-redux-alerts"
      }
    }],
    ["htm", {
      "pragma": "React.createElement"
    }]
  ],
  "ignore": []
}
